.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #FCFCFC;
  transition: background-color .4s ease-out;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.link svg {
  fill: #737373;
  margin: 8px;
}

.linkBlue:hover {
  background-color: #ffffff;
}

.linkBlue:hover svg {
  fill: #4c64ff;
}

.linkBlue svg {
  fill: #3f51b5;
}

.svgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  color: #3f51b5;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.description:hover {
  color: #4c64ff;
}
