.postsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 300px;
  margin-right: 24px;
}

.postsContainerTitle {
  font-size: 20px;
  margin: 10px auto 6px auto;
}

