.createFormContainer {
  display: flex;
  flex-direction: column;
}

.postDescriptionTextarea {
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  resize: none;
}

.postContentTextarea {
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  resize: none;
  width: 780px;
  height: 480px;
}
