.sidebarAbout {
  padding: 16px;
  background-color: #eeeeee;
  border-radius: 4px;
}

.sidebarTitle {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.sidebarDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.sidebarContacts {
  margin-top: 24px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.sidebarSocialLinks {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
