.postPage {
  display: flex;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  flex-wrap: wrap;
}

.currentPostContainer {
  display: flex;
  flex-direction: column;
}

pre {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

.postItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d3d3d3;
  margin: 10px 20px 10px 0px;
  height: 100px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.postItem:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.01);
  transition: all 0.2s ease;
}

.postItemTitle {
  margin: 5px;
  align-self: flex-start;
}

.postItemData {
  margin: 10px 5px;
  color: #737373;
  align-self: flex-end;
}
