.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #FCFCFC;
  transition: background-color .4s ease-out;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
}

.socialLink:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.socialLink svg {
  fill: #737373;
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.socialLinkBlue:hover {
  background-color: #ffffff;
}

.socialLinkBlue:hover svg {
  fill: #4c64ff;
}

.socialLinkBlue svg {
  fill: #3f51b5;
}

.socialLinkDescription {
  color: #3f51b5;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.socialLinkDescription:hover {
  color: #4c64ff;
}
